/*
DESIGN BY Jsu
url: http://jsublog.duapp.com
*/


/* main style css */

body, header, a, img, nav, ul, li, section, div, footer, p, h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}
img{border: none;}
ul{list-style: none;}
a{text-decoration: none;}

#header, #banner, #content, #footer{width: 1000px; margin: 0 auto;}

body{padding-top: 45px; font-family:Verdana, Geneva, sans-serif;}

#header{background: black; overflow: hidden;}

#logo{display: block; width: 220px; height: 54px; float: left; background: #555;}
#logo img{display: block;}

#nav{width: 780px; height: 54px; float: left; background: #393838; list-style: none;}
#nav li{float: left;}
#nav li a{display: block; width: 86px; height: 54px; line-height: 54px; text-align: center; font-size: 12px; color: #ccc; text-decoration: none; float: left;}
#nav li a:hover{background: #167f39; color: #fff; text-decoration: underline;}
#nav li .navActive{color:#167f39;}

#banner{position: relative; display: block; margin: 20px auto; width: 1000px; height: 292px; overflow: hidden; background: #000; background: rgba(0, 0, 0, 0.7);}

#content{overflow: hidden; font-size: 12px; line-height: 24px;}
#left-content, #right-info{margin: 10px; float: left; display: inline; overflow: hidden;}
#left-content{width: 660px;}
#right-info{width: 300px;}

#info{width: 300px; margin: 10px 0; background: #f5f5f5; border-color: #ccc; border-width: 0 1px 2px 1px; border-style: solid; overflow: hidden;}

#info .author{margin: 10px; width: 280px; height: 150px; overflow: hidden;}
#info .author img{float: left; width: 100px; height: 104px; margin: 10px;}
#info .author a{display: block; float: left; overflow: hidden; width: 120px;}
#info .author a:hover{opacity: .5;}
#info .author span{color: #167f39;margin: 0 10px; width: 100px; text-align: center; float: left;}
#info .author p{width: 160px; height: 100px; padding: 10px 0; margin: 10px 0; float: right;}
#info .favorite{height: 80px; width: 300px; text-align: center; display: none; padding: 0; margin: 0;}
#info .favorite p{margin: 0; font-weight: bold; padding: 0; height: 40px; line-height: 40px; font-size: 100%; font-size: 15px; color: rgb(0, 85, 170);}

#latest, #share{width: 300px; margin: 10px 0; background: #f5f5f5; border-color: #ccc; border-width: 0 1px 2px 1px; border-style: solid; overflow: hidden;}

.title{text-indent: 1em; height: 30px; width: 300px; line-height: 30px; background: rgb(230, 228, 223); font-size: 100%; font-size: 14px; font-weight: normal; border-color: #ccc; border-width: 0 0 2px 0; border-style: solid; }
#latest .aside-content-1{width: 300px; height: 205px;}
#latest .aside-content-1 li{text-indent: 2em; height: 40px; line-height: 40px; border-color: gray; border-width: 0 0 1px 0; border-style: dotted;}
#latest .aside-content-1 li:last-child{border: none;}
#latest .aside-content-1 li a{text-decoration: none; color: #555}
#latest .aside-content-1 li a:hover{text-decoration: underline; color: #167f39;}

#share li{float: left; width: 130px; height: 130px; margin: 15px 10px 15px 10px; overflow: hidden; display: inline;}
#share li a{display: block; width: 130px; height: 130px; overflow: hidden; position: relative;}
#share li img{display: block; float: left; width: 130px; height: 130px;}
#share li a span{height: 30px; line-height: 30px; width: 130px; position: absolute; bottom: -30px; left: 0; color: #fff; text-align: center; background: black; opacity: .6; filter:alpha(opacity=60);}

#web-info {position: relative; margin-bottom: 10px; width: 300px; height: 310px; overflow: hidden; border-style: solid; border-width: 1px 1px 2px 1px; border-color: rgb(211, 215, 200);}

.aside-title {width: 300px; height: 30px;}
.aside-title li{background: rgb(230, 228, 223); height: 28px; border-width:0 0 2px 0; border-color:#ccc ; border-style: solid; width: 100px; text-align: center; line-height: 27px; color: #555; font-size: 14px; float: left;}
.aside-title li:nth-child(2n){width: 96px; border-width:0 2px 2px 2px;}
.aside-title .active{background: #fff; color: #333;}

.aside-content {position: absolute; top: 30px; left: 0; width: 300px; overflow: hidden;}
.aside-content ul{position: relative; width: 300px; overflow: hidden;}
.aside-content ul li{display: block; width: 300px; height: 39px; line-height: 39px; text-indent: 16px; border-bottom: 1px dotted gray;}
.aside-content ul li a{text-decoration: none; display: block; height: 39px; line-height: 39px; width: 300px; font-size: 12px;}
.aside-content ul li:nth-child(2n){background: #f5f5f5;}
.aside-content ul li:nth-child(2n+1){background: #ffffff;}
.aside-content ul li:last-child{border: none;}
.aside-content ul li a{text-decoration: none; color: #555;}
.aside-content ul li a:hover{text-decoration: underline; color: #167f39;}

#software-info{position: relative; margin-bottom: 10px; width: 300px; height: 230px; overflow: hidden; border-style: solid; border-width: 1px 1px 2px 1px; border-color: rgb(211, 215, 200);}
#essay-info{position: relative; margin-bottom: 10px; width: 300px; height: 230px; overflow: hidden; border-style: solid; border-width: 1px 1px 2px 1px; border-color: rgb(211, 215, 200);}

#topic {overflow: hidden;}
.caption{border-bottom: 2px inset #777; color: #222; font-size: 15px; font-weight: normal; height: 35px; line-height: 35px; text-indent: 20px;}
#topic .topic-content{width: 660px; overflow: hidden;}
#topic .topic-one-column{float: left; border-bottom: 1px dotted #b2b2b2; margin: 30px 10px 0 10px; overflow: hidden; padding-bottom: 30px; width: 660px;}
#topic .topic-one-column:last-child{border: none; margin-bottom: 30px;}
div .topic-one-column .portfolio-image{position: relative; float: left; width: 200px; height: 200px; margin-right: 40px; display: block;}
div .topic-one-column img{left: 0; position: absolute; top: 0; display: block; width: 200px; height: 200px; float: left;}
.portfolio-image-info{position: absolute; top: 0; left: 0; display: block; display: none; opacity: 0.5; filter:alpha(opacity=50); background: black; color: white; height: 200px; width: 200px; overflow: hidden;}
div .topic-one-column-content{float: left; width: 420px; overflow: hidden;}
div .more-link{float: left;}
div .topic-one-column-content p{margin: 0 10px;}
div .topic-one-column-content h2{color: #167f39; font-size: 100%; font-size: 15pt; font-weight: normal; margin: 10px;}
div .topic-one-column-content a{text-decoration: none; color: #167f39;}
div .topic-one-column-content a:hover{text-decoration: underline;}
div .topic-one-column-content .more-link{background: #24241f; color: #ffffff; float: left; padding: 5px 10px; text-decoration: none; margin: 12px;}
div .topic-one-column-content .more-link:hover{background:#167f39; text-decoration: none;}

div .my-work-content-one-column{position: relative; overflow: hidden; float: left; width: 200px; height: 250px; margin: 10px; display: inline;}
.my-work-content-one-column a{display: block; text-decoration: none; color: #167f39; overflow: hidden;}
.my-work-content-one-column a:hover{text-decoration: underline;}
.my-work-content-one-column a img{display: block; width: 200px; height: 200px;}
.my-work-content-one-column a span{width: 200px; height: 30px; position: absolute; bottom: 50px; left: 0; display: none; opacity: .6; filter:alpha(opacity=60); background: black; color: white; text-align: center;}
.my-work-content-one-column h2 a{color: #000; text-align: center; font-size: 12px; color: #555}

#footer{background: #393838; height: 52px; line-height: 18px; margin-top: 10px; padding-top: 18px; text-align: center; color: #ccc; font-size: 12px;}
#footer a{color: #ccc; text-decoration: none;}
#footer a:hover{text-decoration: underline;}





